[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-shortcuts = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-storages = "*"
python-dotenv = "*"
pre-commit = "*"
psycopg2 = "*"
coverage = "*"
factory-boy = "*"
django-rest-passwordreset = "*"
pillow = "*"
cryptography = "*"
openpyxl = "*"
boto3 = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
